<!DOCTYPE html>
<html lang="en">

<head>
	<!--====== Required meta tags ======-->
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--====== Title ======-->
	<title> MKE's Blogs </title>
	<!--====== Favicon Icon ======-->
	<link rel="shortcut icon" href="../assets/img/mke-logo.png" type="img/png" />
	<!--====== Animate Css ======-->
	<link rel="stylesheet" href="../assets/css/animate.min.css">
	<!--====== Bootstrap css ======-->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
	<!--====== Fontawesome css ======-->
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css" />
	<!--====== Magnific Popup css ======-->
	<link rel="stylesheet" href="../assets/css/magnific-popup.css" />
	<!--====== Slick  css ======-->
	<link rel="stylesheet" href="../assets/css/slick.css" />
	<!--====== Nice Select ======-->
	<link rel="stylesheet" href="../assets/css/jquery-nice-select.min.css" />
	<!--====== Style css ======-->
	<link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
	<!--====== Header part start ======-->
	<%- include('header') %>
	<!--====== Header part end ======-->

    <!--====== Shop Wrapper Start ======-->
    <section class="shop-wrapper section-gap-80-120" style="padding-top: 0;">
        <!-- profile img ,username -->
        <div class="container-fluid" >
            
            <div class="post-details">
                <div class="entry-footer" style="padding-top: 0; top: 0;">
                    
                    <div class="post-author">
                        <div class="author-img">
                            <img src="/uploads/<%= avatar %>" alt="PostAuthor">
                        </div>
                        <h5><%= username %></h5>
                        
                    </div>
                    <div class="social-share"></div>
                </div>
            </div>
            <!--End profile img ,username -->
            
            <div class="product-area">
                <div class="product-loop row justify-content-center">
                <%filteredBlogs.forEach(b=>{%>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="single-product">
                            <div class="product-thumb">
                                <img src="/uploads/<%= b.image %>" alt="ProductImage">                              
                            </div>
                            <h5 class="title"><a href="product-details.html"><%= b.title %> </a></h5>
                            <div class="product-action">
                                <div class="icon">
                                    <span class="currency">-</span>
                                    <span class="plus-icon">+</span>
                                </div>
                                <div class="hover-icon">                                  
                                    <a href="" class="add-to-cart delete" data-id="<%= b.id %>">Delete</a>
                                    <a href="/editMyBlogs/<%= b.id %>" class="add-to-cart">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>    
                    
                </div>              
            </div>
        </div>
    </section>
    <!--====== Shop Wrapper End ======-->

   

    <!--====== Footer Area Start ======-->
    <%- include('footer') %>
    <!--====== Footer Area End ======-->


    <script src="/js/index.js" defer></script>
	<!--====== jquery js ======-->
	<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	<script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
	<!--====== Bootstrap js ======-->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<!--====== Slick js ======-->
	<script src="assets/js/slick.min.js"></script>
	<!--====== Images Loaded ======-->
	<script src="assets/js/imagesloaded.pkgd.min.js"></script>
	<!--====== Isotope js ======-->
	<script src="assets/js/isotope.pkgd.min.js"></script>
	<!--====== Magnific Popup js ======-->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<!--====== Nice Select js ======-->
	<script src="assets/js/jquery.nice-select.min.js"></script>
	<!--====== Main js ======-->
	<script src="assets/js/main.js"></script>
</body>

</html>